
language: objective-c
osx_image: xcode11.4

env:
  global:
    - PROC_NR=$(getconf _NPROCESSORS_ONLN)
    - PS4DEV=./ps4dev
    - PS4SDK=$TRAVIS_BUILD_DIR


before_install:
    - locale

script:
    - set -o pipefail

    - echo Starting make
    - make -j $PROC_NR
    - echo Compilation Finished!

    - echo Starting "install"
    - cp -frv include $PS4DEV
    - cp -frv make $PS4DEV
    - cp -frv lib $PS4DEV
    - cp crt0.s $PS4DEV
    - cp linker.x $PS4DEV
    - echo Finished!

after_success:
