
osx_image: xcode11.4

env:
  global:
    - PROC_NR=$(getconf _NPROCESSORS_ONLN)
    - PS4DEV=$TRAVIS_BUILD_DIR/ps4dev
    - PS4SDK=$TRAVIS_BUILD_DIR
    - PS4RELEASE=$TRAVIS_BUILD_DIR/ps4sdk

before_install:
  - locale

script:
  - set -o pipefail
  #  Compilation phase
  - echo Starting make
  - make -j $PROC_NR
  - echo Compilation Finished!
  #  Install Phase
  - echo Starting "install"
  - mkdir ps4sdk
  - cp -R ./include $PS4RELEASE/include
  - cp -R ./make $PS4RELEASE/make
  - cp -R ./lib $PS4RELEASE/lib
  - cp crt0.s $PS4RELEASE
  - cp linker.x $PS4RELEASE
  - echo Finished installing!

  # Pepare deploy
  - PACKAGE_NAME=ps4sdk-$TRAVIS_BUILD_NUMBER-$(git rev-parse --short HEAD).zip
  - zip -r $PACKAGE_NAME ps4sdk

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: EJ8/zBM/gdk5ZoAK7yF02RH1uJBJSnNLy9S0+xXxeAk51HOtLWS9YvQa6mZFjjMt5rkjCCoViFdO0kr07O/L8n9M/DZHhBaPNtyA3Msn6Z6oNCwSsPKjY3WscOPXfbBy1PCS5SBEYHGUQUM8wme9TllLj6bQsx9N09/Mt869ell77qQotLfFwWhRIPGbxMd3AoQjt75dxZ0J1/YO2c7nV34NQbAKg4DttBBPV+fbda9ZSGMS7C3sPG7a0wzET3zj6k0O/mhhTRfvwGta5eNHBUx2R8BnMCt8xS4cGMxncK+ZQBrWoaO2FX1qAjzyKT646ocYmAnS5dizZ6Ynw+nP2qYfevkDGP2DRqAvEzEPK6ld3z0wTWUOeWYNEwBuFNnZXPBbpl2h0oQRBI0skcJIaeZY4a09AiJ3bxxW06e+MCbnXmyg+rrOJ2EpMJFlRQ/dB/cF8R+06UsvD8/H4isfoxTfXwFOlgT+PMOA8e/NbBQMwXWLVVTliP2eyRAgg5ZMT4AZI/zGjxtSmrwnneOeQYBev0cV6EgMli+xxKxfJuAjRf175p0HhOt3HQCCb6hEgdCUAFVN5Ot+q5n1k/Ng2hfBpXNywtBBWEoR0+wBECX2tx1hY0RYYd5Ffomns1uaX/FDpW7+XjcCnaLyLAOI4CfWwAIDVLOxQ0G22EcJ/OE=
  file: '$PACKAGE_NAME'
  name: "PS4SDK-$TRAVIS_BRANCH-$TRAVIS_BUILD_NUMBER-$(git rev-parse --short HEAD)"
  body: "Release Autogenerated by TravisCI for the branch $TRAVIS_BRANCH in the commit $TRAVIS_COMMIT"
  on:
    branch: travis
    repo: $TRAVIS_REPO_SLUG
    overwrite: true

after_success:
