
language: objective-c
osx_image: xcode11.4

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - PS4DEV=/usr/local/orbisdev
    - PS4SDK=.


before_install:
    - env
    - locale

script:
    - set -o pipefail

    - echo Starting make
    - make

after_success:
