
osx_image: xcode11.4

env:
  global:
    - PROC_NR=$(getconf _NPROCESSORS_ONLN)
    - PS4DEV=$TRAVIS_BUILD_DIR/ps4dev
    - PS4SDK=$TRAVIS_BUILD_DIR

before_install:
    - locale

script:
    - set -o pipefail
#  Compilation phase
    - echo Starting make
    - make -j $PROC_NR
    - echo Compilation Finished!
#  Install Phase
    - echo Starting "install"
    - cp -frv include $PS4DEV
    - cp -frv make $PS4DEV
    - cp -frv lib $PS4DEV
    - cp crt0.s $PS4DEV
    - cp linker.x $PS4DEV
    - echo Finished installing!

# Pepare deploy
    - PACKAGE_NAME=ps4sdk-$TRAVIS_BUILD_NUMBER-$(git rev-parse --short HEAD).zip
    - zip -r $PACKAGE_NAME $PS4DEV

deploy:
  skip_cleanup: true
  draft: true
  provider: releases
  api_key:
    secure: TNktpr2XVgw6nDum4YbCv9/wgktvoBCXOkECllzbekmXPMRJUNMtaB9Rf6hzpUbW6Nxa3+SfhqOOPSviYy0ock3u2P3GtDWl9hsRowbODaSbUJ6l1ZcXi5V9Q73xpXjwdbvNYHpStvPoHl9TnYaRCOt78qzVv2mPpHuqMf5xsKoXgQmK+iWIL3KiWkrGuyssc0ToG3Zo8pz02Vcl+QXtnEnF/81AQrOlsliEMHxBDwjrMPeZryNI62hNeqGIn9I+V7ljIDwOOBY8lhc4osFnPBnPi93JPf+J7d2RDCpz0XhOApu3uO4fIkW6Qar7SLYZRegHb8Ef9azH2I2ebkx6d6pknO8UNN+pL85q5sOyvB80f60Ffvu1sQdqLjcHRKom35V+X6nPqL4i7fr6mA1rxMBjuSjE/R1AlrHsgQt4RwjBW+v23M3bB5bC+FMsBQQdJAqRXmoLcnGRMr+ONVCr7MRw2wwDqDdspsSgP7PF/znxUlPaD4OtXfs9FIdOv2wXiTIZFcJC3dvPIDbueiIVNLU3VoQEGsmxWWyTLTLb714nRLXHHlyt5JNXeA4vJX7KX4WZREmpscfZEEyMemRV8ZewgzxxpS6Cm+6UHbxw6dJ43ObjQzNYrTlQO9nIo/0OR9fRz9RJ2RhWY9PZodTC23wwYtIQqzFGvWwPEWy7YeQ=
  file: '$PACKAGE_NAME'
  body: "Release Autogenerated by TravisCI for the branch $TRAVIS_BRANCH in the commit $TRAVIS_COMMIT"
  on:
    branch: travis
    repo: $TRAVIS_REPO_SLUG
    overwrite: true

after_success:
